@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7f9651;
  --primary-focus: #6c8244;

  --accent: #f7dd8a;
  --accent-focus: #f3d06b;

  --warning: #f4b237;
  --warning-focus: #dc9e2e;

  --error: #a32d00;
  --error-focus: #8c2600;

  --success: #73a260;

  --base-100: #ffffff;
  --base-200: #f6f5eb;
  --base-300: #e4e2d3;

  --neutral: #3e3e3e;
  --neutral-focus: #2a2a2a;
}
.dark {
  --primary: #6f8641;
  --primary-focus: #5d7337;

  --accent: #d9c777;
  --accent-focus: #c4b360;

  --warning: #d49a30;
  --warning-focus: #bb872a;

  --error: #8f2600;
  --error-focus: #7a1f00;

  --success: #62894f;

  --base-100: #1c1c1c;
  --base-200: #252525;
  --base-300: #2e2e2e;

  --neutral: #cccccc;
  --neutral-focus: #ffffff;
}
