@font-face {
  font-family: Comfortaa;
  src: url("./assets/font/Comfortaa-Regular.ttf");
}
@import "tailwindcss";

@theme {
  --color-primary: #020c16;
  --color-primary-content: #fafafa;
  --color-secondary: #515a63;
  --color-secondary-content: #fff;
  --color-accent: #195890;
  --color-accent-content: #f6fafe;
  --color-neutral: #ececec;
  --color-neutral-content: #3d3d3d;
  --color-info-content: #3d3d3d;
  --color-info: #d2e3f2;
  --color-info-content: #114777;
  --color-success: #d2f2e1;
  --color-success-content: #175835;
  --color-error: #f2d6d2;
  --color-error-content: #831b0c;
  --color-warning: #f4e7c2;
  --color-warning-content: #985015;
  --color-base-100: #ffffff;
  --color-base-200: #f2f2f2;
  --color-base-300: #e5e6e6;
}

.dark {
  --color-primary: #ffffff;
  --color-primary-content: #020c16;
  --color-accent: #95c3ed;
  --color-accent-content: #020c16;
  --color-secondary: #d1d5da;
  --color-secondary-content: #34393f;
  --color-neutral: #575757;
  --color-neutral-content: #fffbfb;
  --color-info-content: #fffbfb;
  --color-info: #123757;
  --color-info-content: #c3dbef;
  --color-success: #1d5036;
  --color-success-content: #d2fae3;
  --color-error: #722d23;
  --color-error-content: #f6dfdb;
  --color-warning-content: #ffefe2;
  --color-warning: #855506;
  --color-base-100: #222426;
  --color-base-200: #33383d;
  --color-base-300: #3e4852;
  --color-destructive: oklch(0.704 0.191 22.216);
  --gradient-boxcolor: #4d4d4d;
  --gradient-start: #e8e8e8;
  --gradient-middle: #ffffff;
  --gradient-end: #e8e8e8;
}

html {
  scroll-behavior: smooth;
  font-family: "Comfortaa", cursive, sans-serif;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease, fill 0.3s ease, stroke 0.3s ease;
}

body[data-scroll-locked] {
  margin: auto !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  color: var(--color-secondary);
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
h4,
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
.body-1 {
  font-size: 16px;
}

.content-container {
  max-width: 1332px;
  margin: 0px auto;
  padding: 0 16px;
  width: 100%;
}

.full-width-section {
  width: clamp(100%, 100vw, 1920px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.icon-link {
  display: inline-block;
  transition: transform 0.3s ease;
}

.icon-link:hover {
  transform: scale(1.1);
  text-decoration: none !important;
}

.icon-link::after,
.icon-link:hover::after {
  content: none !important;
}

a {
  text-decoration: underline;
  text-underline-offset: 4px;
}
